{% extends "base.html" %}
{% block title %} Inicio {% endblock %}
{% block content %}
<br><br>
<!-- <div class="container" >
    <div class="card border-primary mb-3" >
    <nav class="navbar navbar-expand-lg  navbar-light bg-light">
        <div class="container-fluid">
            <a class="nav-link" href="/">
                <img src="{{ url_for('static', filename='uleam.png') }}" style="width: 250px; height:80px"
                    class="card-img-top" alt="Grafica por fecha">
            </a>
            <center>
                <a class="nav-link" href="#">Universidad Laica ELoy Alfaro de Manabi <br>
                    Facultad de Ciencias Informaticas <br>
                    Carrera Tecnologia de la Informacion</a>
            </center>

            <a class="nav-link" href="/">
                <img src="{{ url_for('static', filename='facci.jpg') }}" style="width: 250px; height:80px"
                    class="card-img-top" alt="Grafica por fecha">
            </a>

        </div>
    </nav>
    <br><br>
    <center><br>
        <h6> <strong>Tema:</strong> <br> Criptomonedas Bitcoin</h6><br>
        <h6> <strong>Nombre:</strong> <br> Yudeh Cedeño Branly Andres</h6><br>
        <h6> <strong>Curso:</strong> <br> Sexto "A"</h6> <br>
        <h6> <strong>Materia:</strong> <br> Modelamiento y Simulacion</h6> <br>
        <h6> <strong>Docente:</strong> <br> Ing. Jorge Moya Delgado</h6><br><br>

    </center>
    </div>



    
</div> -->

<!-- ---------- -->

<!-- <div class="container">
    <div class="card border-primary mb-3" >
        <br><br>
        <center><br>
            <img src="{{ url_for('static', filename='uleam.png') }}">
            <h6> <strong>Tema:</strong> <br> Criptomonedas Bitcoin</h6><br>
            <h6> <strong>Nombre:</strong> <br> Yudeh Cedeño Branly Andres</h6><br>
            <h6> <strong>Curso:</strong> <br> Sexto "A"</h6> <br>
            <h6> <strong>Materia:</strong> <br> Modelamiento y Simulacion</h6> <br>
            <h6> <strong>Docente:</strong> <br> Ing. Jorge Moya Delgado</h6><br><br>
    
        </center>
    </div>
</div> -->
<div class="container bcontent">
    <h1>Trabajo Autónomo de Modelamiento y Simulación (Accidentes de Transito en Ecuador).</h1>
    <br>
    <div class="card-group">
     <div class="card">
        <img class="card-img-top" src="/static/trans.png" alt="Suresh Dasari Card">
        <div class="card-body">
            <h5 class="card-title">Problemática de los accidentes en Ecuador.</h5>
            <p class="card-text">Los accidentes de tránsito son un problema de salud pública a nivel mundial. 
                En Ecuador, durante el período de 2000 a 2015 se registraron un total de 338.442 accidentes de tránsito,
                 originando 233.794 víctimas con lesión y 26.811 fallecidos.
                 Se realizó un estudio exploratorio, descriptivo y transversal con representación espacial sobre la 
                 accidentabilidad, lesividad y letalidad por accidentes de tránsito registrados en las provincias y 
                 cantones del Ecuador en 2016 a partir de fuentes oficiales de información secundaria. </p>
        </div>
    </div>
     <div class="card">
        <!-- <img class="card-img-top" src="/static/u.png" alt="Suresh Dasari Card"> -->
        <div class="card-body">
        <center>
            <br><br>
            <h3 class="card-title">Universidad Laica Eloy Alfaro de Manabí.</h3>    <br>
            <h4> <strong>Nombre:</strong> <br> Yudeh Cedeño Branly Andres.</h4><br>
            <h4> <strong>Periodo:</strong> <br>2022(1).</h4><br>
            <h4> <strong>Curso:</strong> <br> Sexto "A".</h4> <br>
            <h4> <strong>Materia:</strong> <br> Modelamiento y Simulación.</h4> <br>
            <h4> <strong>Docente:</strong> <br> Ing. Jorge Anibal Moya Delgado Mg.</h4><br>
            <h4> <strong>Facultad:</strong> <br>Ciencias Informáticas.</h4><br><br>

        </center>
        </div>
    </div>
    </div>       
</div>
{% endblock %}