{% extends 'base.html' %}
{% block title %} Suavización exponencial {% endblock %}
{% block content %}
{% if cargar %}
<center>
    <br><br><br>
    <h2><strong>Resultados de la Suavizacion Exponenical</strong></h2>
    <hr>
</center>
<br>
<h3 > Datos arrojados:</h3>
<br>
<div class="card cards">
    <div class="card-body">
        <table class="dataTable table table-bordered table-hover">
            <thead>
                {% for i in datos.columns %}
                <th>{{ i }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for i in datos.iterrows() %}
                <tr>
                    <td>{{ i[1][0] }}</td>
                    <td>{{ i[1][1] }}</td>
                    <td>{{ i[1][2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br><br><br><br><br><br>

{% else %}
<br><br><br><br>

<center>
    <h2><strong>Gráfica - Suavización exponencial</strong></h2>
    {% if error %}
    <div class="alert alert-success" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <br>
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <form action="/suavizacionExponencial" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Ubique el nombre de X"  name="xlbl" required >
                </div>
                <div class="mb-3">
                    <textarea  name="x"  rows="3" class="form-control"  placeholder="Ingrese datos para X (los números deben estar separados por coma ',')" required></textarea>
                </div>
                <div class="mb-3">
                    <input type="text"   class="form-control"  placeholder="Ubique el nombre de Y"   name="ylbl"  required >
                </div>
                <div class="mb-3">
                    <textarea  name="y"   rows="3" class="form-control" placeholder="Ingrese datos para Y (los números deben estar separados por coma ',')"  required></textarea>
                </div>
                <button type="submit"  class="btn boton" >Calcular</button>
            </form>
        </div>
    </div>
</center>
<br><br><br><br><br>

{% endif %}
{% endblock %}